@{
    ViewData["Title"] = "Home Page";
}


    <style>
        /* Stili CSS per la pagina */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        .container24 {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        p {
            line-height: 1.5;
        }
    </style>
    <body>
      <div class="container24">
        <h1>Leave Management</h1>
            <p>Welcome to our leave management application. Here you can request, view, and manage employees' leaves.</p>
            <p>For further information, please send us an email to info@vacationmanagement.com</p>
      </div>
    </body>


